:root{
    --cor-de-fundo: #0a0707;
    --branco:#FFFFFF;
}
body{
    background-color: var(--cor-de-fundo);
}

.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(./img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho{
    background-color: rgb(92, 38, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    align-items: center;
  

}
.container_imagem{
    padding: 1em;
    margin: 1em;
    width: 5em;
}
